{% extends "base.html" %}
{% block title %}


{{ demand.part_name }}'s Demand
{% endblock %}
{% block content %}
<div class="content-section">
    <div class="media">
        <div class="media-body">
            <h2 style="color:#ea2088;" class="account-heading">&nbsp;{{ demand.title }}</h2>
            {% if not quote.pk %}
            <a href="{% url 'edit-demand' demand.pk %}" class="btn ghost-button" style="float: right;">Edit Details</a>
            {% endif %}
            <div class="row">
                <div class="col-md-6">
                    <p class="fal">
                        RFQ Description : {{ demand.rfq_desc }} <br>
                        NDA Needed : {{ demand.nda_required }} <br>
                        Currency &nbsp; : {{ demand.quote_currency }} <br>
                        Reason &nbsp; : {{ demand.request_reason }} <br>
                        Parts Associated &nbsp; : {{ demand.parts }} <br>
                        RFQ End Date &nbsp; : {{ demand.end_date }} <br>
                        Industry &nbsp; : {{ demand.industry }} <br>
                        Master File &nbsp; : {{ demand.file }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% for quote in quotes %}
{% if quote.pk %}
<div class="content-section">
    <div class="media">
        <div class="media-body">
            <h2 style="color:#ea2088;" class="account-heading">&nbsp;Q Id#{{ quote.pk }}</h2>
            {% if not quote.status %}
            <a href="{% url 'quote-update-status' quote.pk 'Approved' %}"  method="get"  class="btn ghost-button" style="float: right;">Approve</a>
            <a href="{% url 'quote-update-status' quote.pk 'Rejected'  %}"  method="get"  class="btn ghost-button" style="float: right;">Reject</a>
            {% else %}
            <a class="btn {{ btn_class }}" style="float: right;" >{{ quote.status }}</a>
            {% endif %}
            <div class="row">
                <div class="col-md-6">
                    <p class="fal">
                        Supplier : {{ quote.supplier }} <br>
                        Price &nbsp; : {{ quote.quote_price }} <br>
                        Quantity &nbsp; : {{ quote.quantity }} <br>
                        Note : {{ quote.note }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock content %}