{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %} Demand List {% endblock title %}
{% block content %}
    <div class="row" style="color: #ea2088; font-style: bold; font-size: 3rem;">
        <div class="col-md-8">RFQ List</div>
        <div class="col-md-4">               
            <div style="float:right;"> <a class="btn ghost-blue" href="{% url 'new-demand' %}">Add New Demand</a> </div>
        </div>
    </div>
    <br>

{% if object_list %}
            {% for demand in object_list %}

<div class="courses-container">
    <div class="course">
        <div class="course-preview">
            <h2>{{demand.title}}</h2>
            <a href="{% url 'demand' demand.pk %}">View all details <i class="fas fa-chevron-right"></i></a>
        </div>
        <div class="course-info">
            <div class="progress-container">
                <div class="progress"></div>
                <span class="progress-text">
					{{demand.parts}} Parts
				</span>
            </div>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 33%;">
                        <h6>{{ demand.end_date|date:"Y-m-d" }} UTC</h6>
                        <h5>{{ demand.industry }}</h5>
                        <h5>{{ demand.request_reason }}</h5>
                        <a href="#">{{ demand.file }}</a>
                    </td>
                    <td style="width: 33%;">
                        <h5>{{ demand.rfq_desc }}</h5>
                        <h5>{{ demand.nda_required }}</h5>
                        <h5>{{ demand.quote_currency }}</h5>
                    </td>
                    <td style="width: 33%;">
                        <a class="btn ghost-green"  href="{% url 'edit-demand' demand.pk %}" >Edit</a><br/><br/>
                        <a class="btn ghost-red" href="{% url 'delete-demand' demand.pk %}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

            {% endfor %}
    <div class="align-middle">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        {% endif %}
    </div>
{% else %}
        <tbody></tbody>
    </table>
    <br><br><br><br><br><br><br><br>
    <div style="color: #ea2088; font-style: bold; font-size: 1.5rem; text-align: center;">WOW, SUCH EMPTY</div>
{% endif %}
{% endblock content %}