{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %} RFQ List {% endblock title %}
{% block content %}

<div class="row" style="color: #ea2088; font-style: bold; font-size: 2rem;">
    <h5 class="mb-4">List of RFQ's
        {% if  request.user.is_staff %}
        <div style="float:right;"> <a class="btn ghost-blue" href="{% url 'new-demand' %}">Add New Demand</a></div>
        {% endif %}
    </h5>
    <div class="col-md-12">
        <form method="get" class="row gx-3 gy-2 align-items-center" id="filterForm">
            <div class="col-auto">
                <label for="sort" class="visually-hidden">Sort By:</label>
                <select name="sort" id="sort" class="form-select" onchange="document.getElementById('filterForm').submit();">
                    <option value="">Sort By (default)</option>
                    <option value="date_asc" {% if request.GET.sort == 'date_asc' %}selected{% endif %}>End Date: Oldest to Newest</option>
                    <option value="date_desc" {% if request.GET.sort == 'date_desc' %}selected{% endif %}>End Date: Newest to Oldest</option>
                    <option value="parts_asc" {% if request.GET.sort == 'parts_asc' %}selected{% endif %}>Parts: Low to High</option>
                    <option value="parts_desc" {% if request.GET.sort == 'parts_desc' %}selected{% endif %}>Parts: High to Low</option>
                    <option value="cr_date_asc" {% if request.GET.sort == 'cr_date_asc' %}selected{% endif %}>Created Date: Oldest to Newest</option>
                    <option value="cr_date_desc" {% if request.GET.sort == 'cr_date_desc' %}selected{% endif %}>Created Date: Newest to Oldest</option>
                </select>
            </div>
            <div class="col-auto visually-hidden">
                <label for="industry" class="visually-hidden">Industry:</label>
                <select name="industry" id="industry" class="form-select" onchange="document.getElementById('filterForm').submit();">
                    <option value="">All Industries</option>
                    {% for industry in industries %}
                    <option value="{{ industry.pk }}" {% if request.GET.industry == industry.pk|stringformat:"s" %}selected{% endif %}>{{ industry.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
</div>
<br>

{% if object_list %}
{% for demand in object_list %}
<div class="courses-container">
    <div class="course">
        <div class="course-preview">
            <h2>{{ demand.title }}</h2>
            <a href="{% url 'demand' demand.pk %}">View all details <i class="fas fa-chevron-right"></i></a>
            {% if demand.status == 'Approved' %}
            <a href="{% url 'demand-update-status' demand.pk 'Production' %}" class="badge text-bg-success" style="float:right;">+ Start Production</a>
            {% endif %}
            {% if demand.status == 'Production' %}
            <a href="#" class="badge text-bg-success" style="float:right;">In Production</a>
            <a href="{% url 'demand-update-status' demand.pk 'Completed' %}" class="badge text-bg-success" style="float:right;">+ Complete RFQ</a>
            {% endif %}
        </div>
        <div class="course-info">
            <div class="progress-container">
                <div class="progress"></div>
                <span class="progress-text">
                    {{ demand.parts }} Parts
                </span>
            </div>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 33%;">
                        <h6>{{ demand.end_date|date:"Y-m-d" }} UTC</h6>
                        <h5>{{ demand.industry }}</h5>
                        <h5>{{ demand.request_reason }}</h5>
                        <a href="#" data-toggle="modal" data-target="#filePreviewModal{{ demand.id }}">
                            {{ demand.file }}
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="filePreviewModal{{ demand.id }}" tabindex="-1" role="dialog" aria-labelledby="filePreviewModalLabel{{ demand.id }}" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="filePreviewModalLabel{{ demand.id }}">File Preview</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="{{ demand.file.url }}" class="img-fluid" alt="Preview">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td style="width: 33%;">
                        <h5>{{ demand.rfq_desc }}</h5>
                        <h5>{{ demand.nda_required }}</h5>
                        <h5>{{ demand.quote_currency }}</h5>
                    </td>
                    <td style="width: 33%;">
                        {% if request.user.is_staff and demand.status == None %}
                        <a class="btn ghost-green" href="{% url 'new-quote' demand.pk %}">Add Quotation</a><br/><br/>
                        {% endif %}
                        {% if demand.user == request.user and demand.status == None  %}
                        <a class="btn ghost-green" href="{% url 'edit-demand' demand.pk %}" >Edit</a><br/><br/>
                        <a class="btn ghost-red" href="{% url 'delete-demand' demand.pk %}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endfor %}
<div class="align-middle">
    {% if is_paginated %}
    {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.industry %}&industry={{ request.GET.industry }}{% endif %}">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.industry %}&industry={{ request.GET.industry }}{% endif %}">Previous</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a class="btn btn-info mb-4" href="?page={{ num }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.industry %}&industry={{ request.GET.industry }}{% endif %}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a class="btn btn-outline-info mb-4" href="?page={{ num }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.industry %}&industry={{ request.GET.industry }}{% endif %}">{{ num }}</a>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.industry %}&industry={{ request.GET.industry }}{% endif %}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.industry %}&industry={{ request.GET.industry }}{% endif %}">Last</a>
    {% endif %}
    {% endif %}
</div>
{% else %}
<tbody></tbody>
</table>
<br><br><br><br><br><br><br><br>
<div style="color: #ea2088; font-style: bold; font-size: 1.5rem; text-align: center;">WOW, SUCH EMPTY</div>
{% endif %}
{% endblock content %}
