{% extends "base.html" %}
{% block title %} {{title}} {% endblock title %}
{% block content %}
    <div style="color:#ea2088; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">{{title}}</div> <br>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.customer.errors }}
        {{ form.part_name.errors }}
        {{ form.Part_desc.errors }}
        {{ form.file.errors }}
        {{ form.quantity.errors }}
        <div class="form-group">
            <label for="{{ form.customer.id_for_label }}">Customer:</label>
            {{ form.customer }}
        </div>
        <div class="form-group">
            <label for="{{ form.part_name.id_for_label }}">part_name:</label>
            {{ form.part_name  }}
        </div>
        <div class="form-group">
            <label for="{{ form.Part_desc.id_for_label }}">Part_desc:</label>
            {{ form.Part_desc }}
        </div>
        <div class="form-group">
            <label for="{{ form.file.id_for_label }}">file ID:</label>
            {{ form.file }}
        </div>
        <div class="form-group">
            <label for="{{ form.quantity.id_for_label }}">quantity:</label>
            {{ form.quantity }}
        </div>
        <br>
        <div class="align-middle">
            <button type="submit" class="btn ghost-green">{{ savebtn }}</button>
            {% if title == "New Customer" %}
                <button type="reset" class="btn ghost-blue" >Reset</button>
            {% endif %}
            {% if delbtn %}
                <a href="{% url 'delete-customer' customer.pk %}" class="btn ghost-red"> Delete Customer </a>
            {% endif %}
            <a href="{% url 'customers-list' %}" class="btn ghost-button">Cancel</a>
        </div>
    </form>

{% endblock content %}