{% extends "base.html" %}
{% block title %} {{title}} {% endblock title %}
{% block content %}
    <div style="color:#ea2088; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">{{title}}</div> <br>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.customer.errors }}
        {{ form.part_name.errors }}
        {{ form.Part_desc.errors }}
        {{ form.file.errors }}
        {{ form.quantity.errors }}
        <input type="text" name="customer" hidden class="form-control{% if form.customer.errors %} is-invalid{% endif %}" id="id_user" value="{{ request.user.id }}">
        <div class="form-group">
            <label for="{{ form.part_name.id_for_label }}">Title of RFQ:</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="{{ form.Part_desc.id_for_label }}">RFQ Desc:</label>
            {{ form.rfq_desc }}
        </div>
        <div class="form-group">
            <label for="{{ form.quantity.id_for_label }}">NDA Required:</label>
            {{ form.nda_required }}
        </div>
        <div class="form-group">
            <label for="{{ form.quantity.id_for_label }}">Currency:</label>
            {{ form.quote_currency }}
        </div>
        <div class="form-group">
            <label for="{{ form.quantity.id_for_label }}">Reason for Request:</label>
            {{ form.request_reason }}
        </div>
        <div class="form-group">
            <label for="{{ form.quantity.id_for_label }}">Number of Parts:</label>
            {{ form.parts }}
        </div>
        <div class="form-group">
            <label for="{{ form.quantity.id_for_label }}">End Date:</label>
            {{ form.end_date }}
        </div>
        <div class="form-group">
            <label for="{{ form.quantity.id_for_label }}">Industry:</label>
            {{ form.industry }}
        </div>
        <div class="custom-file-drop-container">
            {{ form.file.errors }}
            <p class="custom-file-drop-title">Drop Master file here</p>
            {{ form.file }}
        </div>
        <br>
        <div class="align-middle">
            <button type="submit" class="btn ghost-green">{{ savebtn }}</button>
            {% if title == "New Demand" %}
                <button type="reset" class="btn ghost-blue" >Reset</button>
            {% endif %}
            {% if delbtn %}
                <a href="{% url 'delete-demand' demand.pk %}" class="btn ghost-red"> Delete Demand </a>
            {% endif %}
            <a href="{% url 'demand-list' %}" class="btn ghost-button">Cancel</a>
        </div>
    </form>

{% endblock content %}