{% extends "base.html" %}


{% block title %}
  {{ supplier.name }}'s profile
{% endblock %}


{% block content %}

    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h2 style="color:#ea2088;" class="account-heading">&nbsp;{{ supplier.name }}</h2>
                <a href="{% url 'edit-supplier' supplier.pk %}" class="btn ghost-button" style="float: right;">Edit Details</a>
                <div class="row">
                    <div class="col-md-6">
                        <p class="fal">
                            Phone No &nbsp; : {{ supplier.phone }} <br>
                            Email Id &nbsp;&nbsp;&nbsp;&nbsp; : {{ supplier.email }} <br>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="fal">
                            Address: <br> {{ supplier.address|linebreaks }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="align-middle">
        {% if bills.has_other_pages %}

            {% if bills.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ bills.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in bills.paginator.page_range %}
                {% if bills.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > bills.number|add:'-3' and num < bills.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if bills.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ bills.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ bills.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}
    </div>

</div>

{% endblock content %}