{% extends "base.html" %}
{% block title %}
{{ customer.name }}'s profile
{% endblock %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h2 style="color:#ea2088;" class="account-heading">&nbsp;{{ customer.Name }}</h2>
                <a href="{% url 'edit-customer' customer.pk %}" class="btn ghost-button" style="float: right;">Edit Details</a>
                <a href="{% url 'customers-list' %}" class="btn ghost-button" style="float: right;">View Customer List</a>
                <div class="row">
                    <div class="col-md-6">
                        <p class="fal">
                            Sector &nbsp; : {{ customer.type_of_business }} <br>
                            Phone &nbsp; : {{ customer.phone }} <br>
                            Email ID &nbsp; : {{ customer.email }} <br>
                            EORI # &nbsp; : {{ customer.EORI_number }} <br>
                            VAT # &nbsp; : {{ customer.VAT_number }} <br>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="fal">
                            Address: <br> {{ customer.Address|linebreaks }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}