{% extends "base.html" %}
{% block title %} {{title}} {% endblock title %}
{% block content %}
    <div style="color:#ea2088; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">{{title}}</div> <br>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.demand.errors }}
        {{ form.supplier.errors }}
        {{ form.quote_price.errors }}
        {{ form.note.errors }}
        <div class="form-group">
            <input type="text" hidden name="user" class="form-control{% if form.demand.errors %} is-invalid{% endif %}" id="id_user" value="{{ demand.id }}">
            <input type="text" hidden name="supplier" class="form-control{% if form.supplier.errors %} is-invalid{% endif %}" id="id_supplier" value="{{ request.user.id }}">
        </div>
        <div class="form-group">
            <label for="{{ form.quote_price.id_for_label }}">RFQ Price:</label>
            {{ form.quote_price }}
        </div>
        <div class="form-group">
            <label for="{{ form.note.id_for_label }}">RFQ Note:</label>
            {{ form.note }}
        </div>
        <br>
        <div class="align-middle">
            <button type="submit" class="btn ghost-green">{{ savebtn }}</button>
            {% if title == "New RFQ" %}
                <button type="reset" class="btn ghost-blue" >Reset</button>
            {% endif %}
            {% if delbtn %}
                <a href="{% url 'delete-quote' quote.pk %}" class="btn ghost-red"> Delete RFQ </a>
            {% endif %}
            <a href="{% url 'quote-list' %}" class="btn ghost-button">Cancel</a>
        </div>
    </form>

{% endblock content %}