{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %} RFQ List {% endblock title %}
{% block content %}
    <div class="row" style="color: #ea2088; font-style: bold; font-size: 3rem;">
        <div class="col-md-8">Quotation List</div>
        <div class="col-md-4">               
            <div style="float:right;"> <a class="btn ghost-blue" href="{% url 'new-quote' %}">Add New RFQ</a> </div>
        </div>
    </div>
    <br>
    <table class="table table-css">
        <thead class="thead-inverse align-middle">
            <tr>
                <th width="20%">Quote ID</th>
                <th width="20%">Demand</th>
                <th width="20%">Manufacturer</th>
                <th width="20%">quote_price</th>
                <th width="20%">quantity</th>
                <th width="20%">note</th>
            </tr>
        </thead>
{% if object_list %}
        <tbody>
            {% for quote in object_list %}
            <tr>
                <td>
                    <h3> <a href="{% url 'quote' quote.pk %}">{{ quote.pk }}</a> </h3>
                </td>
                <td class="align-middle"> {{ quote.demand }} </td>
                <td class="align-middle"> {{ quote.supplier }} </td>
                <td class="align-middle"> {{ quote.quote_price }} </td>
                <td class="align-middle"> {{ quote.quantity }} </td>
                <td class="align-middle"> {{ quote.note }} </td>
                <td class="align-middle">
                    <div class="align-middle">
                        <a href="{% url 'edit-quote' quote.pk %}" class="btn ghost-button">Edit Details</a>
                        <a href="{% url 'delete-quote' quote.pk %}" class="btn ghost-red">Delete RFQ</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <div class="align-middle">
        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}
    </div>

{% else %}

        <tbody></tbody>
    </table>

    <br><br><br><br><br><br><br><br>
    <div style="color: #ea2088; font-style: bold; font-size: 1.5rem; text-align: center;">WOW, SUCH EMPTY</div>

{% endif %}


{% endblock content %}