{% extends "base.html" %}
{% block title %}
{{ customer.Name }}'s profile
{% endblock %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h2 style="color:#ea2088;" class="account-heading">&nbsp;{{ customer.Name }}</h2>
                <a href="{% url 'edit-customer' customer.Name %}" class="btn ghost-button" style="float: right;">Edit Details</a>
                <div class="row">
                    <div class="col-md-6">
                        <p class="fal">
                            Name &nbsp; : {{ customer.Name }} <br>
                            Sector &nbsp; : {{ customer.type_of_business }} <br>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="fal">
                            Address: <br> {{ customer.Address|linebreaks }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}